<div>
  <h2>YOUR INPUTS!!!</h2>
  <h4>Favorite Ice Cream</h4>
  <p>
    <%= @ice_cream %>
  </p>
  <h4>Favorite Professor</h4>
  <p>
    <%= @professor %>
  </p>
  <h4>Favorite Music Artist</h4>
  <p>
    <%= @artist %>
  </p>
</div>
